/*   
Theme Name: A Thematic Child Theme
Description: Use this theme to start your Thematic Child Theme development.
Author: Dylan Kuhn
Template: thematic
Version: 1.0
Tags: Thematic
.
*/

/* Reset browser defaults */
@import url('../thematic/library/styles/reset.css');

/* Apply basic typography styles */
@import url('../thematic/library/styles/typography.css');

/* Apply a basic layout */
@import url('2c-r-fluid.css');

/* Apply basic image styles */
@import url('../thematic/library/styles/images.css');

/* Apply default theme styles and colors */
/* It's better to actually copy over default.css into this file (or link to a copy in your child theme) if you're going to do anything outrageous */
@import url('default.css');

/* Prepare theme for plugins */
@import url('../thematic/library/styles/plugins.css');


